@import "../../../../../styles/mixins.scss";

.container {
  
  .tablet{
    position: relative;
    display: none;
    grid-column-gap: 80px;
    padding: 130px var(--app-b-space) var(--app-m-space) var(--app-b-space);
    grid-template-columns: 1fr 1fr;
    @include baseBreakpoint{
      display: grid;
    }

    .col1 {
      display: flex;
      flex-direction: column;
      gap: var(--app-m-space);
    }

    .col2 {
      display: flex;
      flex-direction: column;
      gap: var(--app-s-space);
    }
  }
  
  .mobile {
    padding: 100px 21px var(--app-m-space) 21px;
    display: flex;
    flex-direction: column;
    gap: var(--app-s-space);

    @include baseBreakpoint{
      display: none;
      gap: 24px;
    }
  }

  .bgDetail {
    background-image: url("/Background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 560px;
    height: 257px;
    z-index: -10;
    right: 0;
    top: 450px;
  }
}
