@import "../styles/reset.scss";
@import "../styles/mixins.scss";

// Theme
:root {
  --color-background: #FFFFFF;
  --color-background-darker: #fbfbfb;
  --color-foreground-text: #535353;
  --color-primary: #685DC5;
  --color-primary-dark: #3b1f81;
  --color-support: #60a269;
  --color-border: #DADADA;

  --app-max-width: 1440px;
  --border-radius: 5px;
  --app-s-space: 18px;
  --app-m-space: 40px;
  --app-b-space: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--color-foreground-text);
  background-color: var(--color-background);
}

.main-container {
  max-width: var(--app-max-width);
  margin-left: auto;
  margin-right: auto;
}

.primary-color {
  color: var(--color-primary);
}

.keep-navbar-space {
  margin-top: 65px;
  @include baseBreakpoint{
    margin-top: 130px;
  }
}

.default-padding {
  padding: 0px 21px;
  @include baseBreakpoint{
    padding: 0px var(--app-b-space);
  }
}