@import "../../../../../styles/mixins.scss";

.flat-card {
  border-width: 1px;
  border-color: var(--color-border);
  border-style: solid;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  padding: 17px 14px;
  @include baseBreakpoint{
    padding: var(--app-m-space);
  } 
}